/* CSS for the smallest screen size (mobile devices) first */
body {
  max-width: 480px;
  margin: auto;
  font-size: 16px;

  margin-top: 2.4rem;

  background-color: rgba(2, 2, 2, 1);
  color: black;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(227, 240, 233, 1);
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(250, 252, 252);
  text-decoration: underline;
  text-align: center;
}
section {
  width: 100%;
  max-width: 768px;
  margin: 1.5rem auto;
  padding: 0.5rem;
  padding: 0.5rem;
}
/* section About */
#about {
  background-color: rgba(134, 136, 137, 1);
  box-shadow: 0.2rem 0.2rem rgba(64, 65, 66, 1);
  text-align: justify;
  /* padding: 0.5rem; */
}

#about img {
  border-radius: 30px;
  box-shadow: 0.2rem 0.2rem rgba(13, 14, 15, 1);
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* section experience */

#experience {
  background-color: rgba(134, 136, 137, 1);
  box-shadow: 0.2rem 0.2rem rgba(64, 65, 66, 1);
  padding: 0.5rem;
  padding-top: 0.05rem;
}
.experience {
  border-radius: 0.05rem;
  border-style: dashed;
  border-width: 0.1rem;
  padding: 0.1rem;
}
.job {
  background-color: rgba(27, 26, 26, 1);
  /* row-gap: 2px; */
  color: white;
  padding: 0.5rem;
}
.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.description {
  list-style-type: none;
  color: white;
  text-align: justify;
  border-color: white;
  border-style: dashed;
  border-width: 0.1rem;
  padding: 0.25rem;
  margin: 0;
}

/* section skills */
#skills ul {
  color: rgb(250, 250, 250);
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 1rem;
  grid-template-rows: repeat(3, auto);
  list-style: none;
}
#skills li {
  color: rgb(250, 250, 250);
  border-color: beige;
  border-width: 0.1rem;
  border-style: dashed;
  padding: 0.3rem;
  text-align: center;
}
#skills li:hover {
  /* background: rgb(10, 35, 197); */
  color: white;
  font-weight: bolder;
  border-color: beige;
  border-width: 0.2rem;
  border-style: double;
}

/* section connect */

#connect ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  margin-bottom: 0.5rem;
}
#connect a {
  border-radius: 0.4rem;
  padding: 0.25rem;
  text-decoration: none;
  color: rgb(254, 253, 254);
  font-weight: bolder;
  border-radius: 0.2rem;
  transition: background 0.3s ease, color 0.3s ease;
}
#connect a:hover {
  background: rgb(52, 15, 199);
  color: white;
}
/* Header */

.columns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  font-size: small;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  padding: 0.4rem 0.8rem;
  background-color: rgba(247, 248, 248, 0.684);
  border-radius: 0.25rem;
}
nav a:hover {
  background-color: rgba(93, 94, 95, 0.688);
  border-color: rgb(247, 248, 248);
  border-style: dashed;
  border-width: 0.1rem;
  color: blanchedalmond;
}

header {
  position: sticky;
  top: 0;
}

/* footer */
footer {
  text-align: center;
  color: aliceblue;
  font-size: 0.8rem;
}
/* ----------------------------- */
/* for tablet */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  body {
    max-width: 768px;
    margin: auto;
    margin-top: 2.4rem;
    background-color: rgba(128, 79, 133, 0.337);
    color: rgb(89, 3, 66);
    font-family: "Courier New", Courier, monospace;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(5, 6, 6);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(59, 6, 78);
    text-decoration: underline;
    text-align: center;
  }
  section {
    width: 100%;
    max-width: 1024px;
    margin: 1.5rem auto;
    padding: 0.5rem;
    padding-top: 0.1rem;
  }
  /* section About */
  #about {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    text-align: justify;
  }

  #about img {
    border-radius: 30px;
    box-shadow: 0.2rem 0.2rem rgb(84, 28, 104);
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* section experience */

  #experience {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    padding: 0.5rem;
    padding-top: 0.05rem;
  }
  .experience {
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: rgb(124, 53, 129);
  }
  .job {
    margin: 0.1rem;
    background-color: rgb(124, 53, 129);
    /* row-gap: 2rem; */
    color: rgb(239, 245, 247);
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .description {
    list-style-type: none;
    color: white;
    text-align: justify;
    border-color: white;
    border-style: dashed;
    border-width: 0.1px;
    padding: 5px;
    margin-top: 0;
  }

  /* section skills */
  #skills {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    padding: 0.5rem;
    padding-top: 0.05rem;
  }
  .list {
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: rgb(124, 53, 129);
  }
  #skills ul {
    color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 0.5rem;
    grid-template-rows: repeat(3, auto);
    list-style: none;
    background-color: rgb(124, 53, 129);
    padding: 0.5rem;
    margin: 0.2rem;
  }

  #skills li {
    color: rgb(250, 250, 250);
    border-color: beige;
    border-width: 0.1rem;
    border-style: dashed;
    padding: 0.3rem;
    text-align: center;
  }
  #skills li:hover {
    /* background: rgb(10, 35, 197); */
    color: white;
    font-weight: bolder;
    border-color: beige;
    border-width: 0.2rem;
    border-style: double;
  }

  /* section connect */
  #connect ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 0;
  }

  #connect a {
    border-radius: 0.4rem;
    padding: 0.25rem;
    text-decoration: none;
    color: rgb(170, 4, 170);
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
  }
  #connect a:hover {
    background: rgb(52, 15, 199);
    color: white;
  }
  /* Header */
  .columns {
    display: flex;
    justify-content: center;
    gap: 2rem;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  nav a {
    font-size: medium;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 0.4rem 0.8rem;
    background-color: rgba(247, 248, 248, 0.684);
    border-radius: 0.25rem;
  }
  nav a:hover {
    background-color: rgba(93, 94, 95, 0.688);
    border-color: rgb(247, 248, 248);
    border-style: dashed;
    border-width: 0.1rem;
    color: blanchedalmond;
  }

  header {
    position: sticky;
    top: 0;
  }

  /* footer */
  footer {
    text-align: center;
    color: rgb(4, 7, 8);
    font-size: 0.8rem;
  }
}

/* ----------------------------- */
/* for desktop */
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  body {
    min-width: 1024px;
    margin: auto;
    margin-top: 2.4rem;
    background-color: #4c4a4e;
    color: rgb(6, 6, 6);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(5, 6, 6);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(4, 3, 4, 0.882);
    text-decoration: underline;
    text-align: center;
  }
  section {
    width: 100%;
    margin: 1.5rem auto;
    padding: 0.5rem;
    padding-top: 0.1rem;
  }
  /* section About */
  #about {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    text-align: justify;
  }

  #about img {
    border-radius: 30px;
    box-shadow: 0.2rem 0.2rem rgb(172, 169, 173);
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* section experience */

  #experience {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    padding: 0.5rem;
    padding-top: 0.05rem;
  }
  .experience {
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: rgba(48, 47, 48, 0.401);
  }
  .job {
    margin: 0.1rem;
    background-color: rgb(81, 78, 81);
    /* row-gap: 2rem; */
    color: rgb(239, 245, 247);
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .description {
    list-style-type: none;
    color: white;
    text-align: justify;
    border-color: white;
    border-style: dashed;
    border-width: 0.1rem;
    padding: 0.25rem;
    margin-top: 0;
  }

  /* section skills */
  #skills {
    background-color: rgb(241, 245, 247);
    box-shadow: 0.2rem 0.2rem rgba(233, 236, 239, 0.553);
    padding: 0.5rem;
    padding-top: 0.05rem;
  }
  .list {
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: rgba(48, 47, 48, 0.401);
  }
  #skills ul {
    color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 0.5rem;
    grid-template-rows: repeat(3, auto);
    list-style: none;
    background-color: rgb(81, 78, 81);
    padding: 0.5rem;
    margin: 0.2rem;
  }

  /* section connect */
  #connect ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  #connect a {
    border-radius: 0.4rem;
    padding: 0.25rem;
    text-decoration: none;
    color: rgb(67, 65, 67);
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
  }
  #connect a:hover {
    background: rgb(52, 15, 199);
    color: white;
  }
  /* Header */
  .columns {
    display: flex;
    justify-content: center;
    gap: 2rem;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  nav a {
    font-size: medium;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 0.4rem 0.8rem;
    background-color: rgba(247, 248, 248, 0.684);
    border-radius: 0.25rem;
  }
  nav a:hover {
    background-color: rgba(93, 94, 95, 0.688);
    border-color: rgb(247, 248, 248);
    border-style: dashed;
    border-width: 0.1rem;
    color: blanchedalmond;
  }

  header {
    position: sticky;
    top: 0;
  }

  /* footer */
  footer {
    text-align: center;
    color: rgb(4, 7, 8);
    font-size: 0.8rem;
  }
}
