body {
  margin-top: 150px;
  background-color: rgb(202, 239, 241);
  color: black;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(3, 73, 32);
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: black;
  text-decoration: underline;
  text-align: center;
}
section {
  margin: 20px;
  padding: 20px;
}
/* section About */
#about {
  text-align: center;
  background-color: rgb(143, 203, 248);
  box-shadow: 4px 4px whitesmoke;
}

#about img {
  border-radius: 40px;
  box-shadow: 4px 4px rgb(154, 232, 248);
}
#experience ul {
  list-style-type: none;
  padding: 0;
}

#experience {
  background-color: rgb(153, 214, 252);
  margin-bottom: 2px;
}

#connect a i {
  margin-right: 8px; /* space between text */
  font-size: 1.2em; /* icone size */
  vertical-align: middle;
}

#connect a {
  border-radius: 6px;
  text-decoration: none;
  color: rgb(82, 9, 226);
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}
#connect a:hover {
  background: rgb(153, 214, 252);
  color: white;
}
/* Header */
nav ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
nav a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  padding: 2px 12px;
  background-color: rgb(237, 243, 244);
  border-radius: 5px;
}
nav a:hover {
  background-color: rgb(153, 214, 252);
  border-color: black;
  border-style: dashed;
  border-width: 1px;
}

header {
  position: fixed;
  top: 0;
}

/* footer */
footer {
  text-align: center;
}
